h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}

h1 .title {
    color: white;
}

#camelot_title{
	font-size:40px;
	text-align:center;
	font-style:bold;
}	

#upload_form{
	margin-top: 140px;
	padding-top: 24px;
	margin-bottom: 87px;
}

#upload_header{
	font-size: 30px;
	font: helvetica;
}

#upload_button{
	float: right;
	margin-top: 10px;
}

#column_submit{
	margin-bottom: 20px;
}

.ui-autocomplete,
.ui-autocomplete ui-front ui-menu ui-widget ui-widget-content,
.ui-menu .ui-menu-item {
    background: #DDDDDD;
    width: 400px;
}

.ui-menu-item:hover {
    color: #AAAAFF;
}

.row {
	background: white;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 16px;
}

#hometext{
	margin-top: 46px;
	margin-bottom: 35px;
}

#menu{
	font-size: 20px;
}

.mpld3-tooltip {
    color: black;
    background-color: white;
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

#menutext{
	background=white;
}

