h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}

#upload_form{
	margin-top: 250px;
	padding-top: 24px;
}

#upload_header{
	font-size: 30px;
	font: helvetica;
}

#upload_button{
	float: right;
	margin-top: 10px;
}

#column_submit{
	margin-bottom: 20px;
}

.ui-autocomplete,
.ui-autocomplete ui-front ui-menu ui-widget ui-widget-content,
.ui-menu .ui-menu-item {
    background: #DDDDDD;
    width: 400px;
}

.ui-menu-item:hover {
    color: #AAAAFF;
}
