<!doctype html>
<html>
	<head>
		{% block head %}
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}">
		{% endblock %}

		{% block scripts %}
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
		<script>

        // replaced with dropdowns
		// $(function() {
		//     $.ajax({
		//         url: '{{ url_for(".autocomplete_column_names") }}'
		//     }).done(function (data) {
		//         $('.real_column_name').autocomplete({
		//             source: data.json_list,
		//             minLength: 2
		//         });
		//     });
		// });
		</script>

                <script>
                // Mouseover/ Click sound effect- by JavaScript Kit (www.javascriptkit.com)
                // Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code
                //** Usage: Instantiate script by calling: var uniquevar=createsoundbite("soundfile1", "fallbackfile2", "fallebacksound3", etc)
                //** Call: uniquevar.playclip() to play sound

                 var html5_audiotypes={ //define list of audio file extensions and their associated audio types. Add to it if your specified audio file isn't on this list:
	                "mp3": "audio/mpeg",
	                "mp4": "audio/mp4",
	                "ogg": "audio/ogg",
	                "wav": "audio/wav"
                                }

                function createsoundbite(sound){
	                var html5audio=document.createElement('audio')
	                if (html5audio.canPlayType){ //check support for HTML5 audio
		                for (var i=0; i<arguments.length; i++){
			                var sourceel=document.createElement('source')
			                sourceel.setAttribute('src', arguments[i])
			                if (arguments[i].match(/\.(\w+)$/i))
				                sourceel.setAttribute('type', html5_audiotypes[RegExp.$1])
			                html5audio.appendChild(sourceel)
		                }
		                html5audio.load()
		                html5audio.playclip=function(){
		                	 if (html5audio.currentTime == 0){
			                   html5audio.play()
		                	 }
		                	 else{
		                	 	 html5audio.pause()
			                   html5audio.currentTime=0
		                	 }
		                }
		                return html5audio
	                }
	                else{
		                return {playclip:function(){throw new Error("Your browser doesn't support HTML5 audio unfortunately")}}
	                }
                }

                //Initialize:
                var clicksound=createsoundbite("/static/cam.wav", "/static/cam.ogg", "/static/cam.mp3")

                </script>
		{% endblock %}

	</head>
	<body>
		<div class="container" id="menu">
		{% block body %}
	<div>
		<table class="table table-striped" id="menutext">
		    <thead><tr><th> </th></thead>
          <tbody align=center>
          <tr>
              <td align=left width=5%><a href="/"><img src="/static/logo.png" width=100px></a></td>
              <td style="vertical-align:middle" width=22.5%><a href="/">Home</a></td>
              <td style="vertical-align:middle" width=22.5%><a href="/query_form">Query Database</a></td>
              <td style="vertical-align:middle" width=22.5%><a href="/upload_form">Upload Data</a></td>
              <td style="vertical-align:middle" width=22.5%><a href="https://github.com/camelot-project/frontend/issues/new">Report an Issue<br>Request a Feature</a></td>
              <td align=right width=5%><a href="/"><img src="/static/logo.png" width=100px></a></td>
          </tr>
          </tbody>
      </table>	    
	</div>
		{% endblock %}
		</div>




	</body>
</html>
