<!doctype html>
<html>
	<head>
		{% block head %}
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}">
		{% endblock %}

		{% block scripts %}
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
		<script>

        // replaced with dropdowns
		// $(function() {
		//     $.ajax({
		//         url: '{{ url_for(".autocomplete_column_names") }}'
		//     }).done(function (data) {
		//         $('.real_column_name').autocomplete({
		//             source: data.json_list,
		//             minLength: 2
		//         });
		//     });
		// });

		$(function() {
		    $.ajax({
		        url: '{{ url_for(".autocomplete_filetypes") }}'
		        }).done(function (data) {
		            $('#file_format').autocomplete({
		            source: data.json_list,
		            minLength: 2
		        });
		    });
		});
		</script>
		{% endblock %}
	</head>
	<body background="/static/bg.jpg">
		<div class="container" id="menu">
		{% block body %}
	<div>
		<table class="table table-striped" id="menutext">
		    <thead><tr><th> </th></thead>
          <tbody align=center>
          <tr>
              <td align=left width=5%><a href="/"><img src="/static/logo.png" width=100px></a></td>
              <td style="vertical-align:middle" width=30%><a href="/">Home</a></td>
              <td style="vertical-align:middle" width=30%><a href="/query_form">Query Database</a></td>
              <td style="vertical-align:middle" width=30%><a href="/upload_form">Upload Data</a></td>
              <td align=right width=5%><a href="/"><img src="/static/logo.png" width=100px></a></td>
          </tr>
          </tbody>
      </table>	    
	</div>
		{% endblock %}
		</div>
	</body>
</html>

