{% extends 'base.html' %}

{% block body %}
{{ super() }}

The CAMELOT project has been developed by:
Adam Ginsburg
Diederik Kruijssen
Steve Longmore
Eric Koch
Simon Glover
Jim Dale
Benoit Commercon
Andrea Gianetti
Anna Mcleod
Leonardo Testi
Sarolta Zahorecz
Jill Rathborne
Qizhou Zhang
Francesco Fontani
Maite Beltran
Victor Rivilla

It was first suggested at the Sexten workshop on Mass assembly from clouds to clusters.
Development was initiated at the Florence workshop on the comparison of simulations and observations.

The CAMELOT project is powered by github, heroku, jstables, d3, matplotlib, astropy, flask, and gunicorn.

{% endblock %}
