{% extends 'base.html' %}

{% block body %}
{{ super() }}

To cite the CAMELOT project, please use the following blurb:

"This work has used the CAMELOT project (Ginsburg et al 2016; DOI: XXXX; http://camelot-project.org/)."

Or you may use this bibtex template:
<pre>
@electronic{Ginsburg2016,
    Author = {{Ginsburg}, A. and {Kruijssen}, J.M.D. and {Longmore},
              S.N. and {Koch}, E. and {Glover}, S. and {Dale}, J. and {Commercon},
              B. and {Giannetti}, A. and {McLeod}, A. and {Testi}, L. and
              {Zahorecz}, S. and {Rathborne}, J. and {Zhang}, Q. and
              {Fontani}, F. and {Beltran}, M. and {Rivilla}, V.},
	Month = {February},
	Title = {CAMELOT: the Cloud Archive for MEtadata, Library \& Online Toolkit},
	Url = {http://camelot-project.org/},
	Urldate = {2016},
	Year = {2016}}
</pre>


<div class=row>
The CAMELOT project has been developed by:
<ul>
    <li>Adam Ginsburg
    <li>Diederik Kruijssen
    <li>Steve Longmore
    <li>Eric Koch
    <li>Simon Glover
    <li>Jim Dale
    <li>Benoit Commercon
    <li>Andrea Giannetti
    <li>Anna Mcleod
    <li>Leonardo Testi
    <li>Sarolta Zahorecz
    <li>Jill Rathborne
    <li>Qizhou Zhang
    <li>Francesco Fontani
    <li>Maite Beltran
    <li>Victor Rivilla
</ul>
<br>

It was first suggested at the Sexten workshop on Mass assembly from clouds to clusters.
Development was initiated at the Florence workshop on the comparison of simulations and observations.

<br>
The CAMELOT project is powered by github, heroku, jstables, d3, matplotlib, astropy, flask, and gunicorn.
</div>

{% endblock %}
