{% extends 'base.html' %}

{% block body %}
{{ super() }}

<div class=row>
The CAMELOT project has been developed by:
<ul>
    <li>Adam Ginsburg
    <li>Diederik Kruijssen
    <li>Steve Longmore
    <li>Eric Koch
    <li>Simon Glover
    <li>Jim Dale
    <li>Benoit Commercon
    <li>Andrea Giannetti
    <li>Anna Mcleod
    <li>Leonardo Testi
    <li>Sarolta Zahorecz
    <li>Jill Rathborne
    <li>Qizhou Zhang
    <li>Francesco Fontani
    <li>Maite Beltran
    <li>Victor Rivilla
</ul>
<br>

It was first suggested at the Sexten workshop on Mass assembly from clouds to clusters.
Development was initiated at the Florence workshop on the comparison of simulations and observations.

<br>
The CAMELOT project is powered by github, heroku, jstables, d3, matplotlib, astropy, flask, and gunicorn.
</div>

{% endblock %}
