{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>CAMELOT</title>
{% endblock %}

{% block body %}
{{ super() }}
<h1>CAMELOT</h1>

<div class="row">
<div class="row" id="hometext" align=left>
    Welcome to the CAMELOT website! This is a super exciting project with a website inspired by ‘90s personal home pages. We just love comparing data and simulations. Its so exciting. This home page text goes on and on, just because we love it.<br><br>
    
    CAMELOT aims to provide a platform to facilitate the comparison of observational data and simulations. The central component of CAMELOT is a database summarising the properties of observational data and simulations in the literature through pertinent metadata. The core functionality allows users to upload metadata, search and visualise the contents of the database to find and match observations/simulations over any range of parameter space.<br><br>

To bridge the fundamental disconnect between inherently 2D observational data and 3D simulations, we identified there key physical properties that, in principle, are straightforward for both observers and simulators to measure — the surface density (Sigma), velocity dispersion (sigma) and radius (R). By determining these in a self-consistent way for all entries in the database, it should be possible to make robust comparisons.
</div>
</div>
</body>
{% endblock %}
