{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>CAMELOT</title>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}

{% block body %}
{{ super() }}
<h1 class="title">CAMELOT</h1>

<div class="row">
<div class="row" id="hometext" align=justify>
CAMELOT aims to provide a platform to facilitate the comparison of observational data and simulations of molecular clouds and/or star-forming regions. The central component of CAMELOT is a database summarising the properties of observational data and simulations in the literature through pertinent metadata. The core functionality allows users to upload metadata, search and visualise the contents of the database to find and match observations/simulations over any range of parameter space.
    <br><br>
To bridge the fundamental disconnect between inherently 2D observational data and 3D simulations, we identified the key physical properties that, in principle, are straightforward for both observers and simulators to measure — the surface density (<i>Sigma</i>), velocity dispersion (<i>sigma</i>) and radius (<i>R</i>). By determining these in a self-consistent way for all entries in the database, it should be possible to make robust comparisons.
    <br><br>
CAMELOT is an acronym for <i>Cloud Archive for MEtadata, Library & Online Toolkit</i>.
<br><br>
The <a href="https://github.com/camelot-project/frontend">source code</a>
is hosted on <a href="https://github.com/camelot-project">github</a>, and <a
href="https://github.com/camelot-project/frontend/blob/master/contributing.md">contributions</a>
are welcome.
<center>
<table>
<tr>
<td>
<a href="#current" onclick="clicksound.playclip()"><img src="/static/sword.jpg" height=50px></a>
</td>
<td width=30px></td>
<td><a href="#current" onclick="clicksound.playclip()"><img id="image_canv" src="/static/sword.jpg" height=50px class="rotate180"></td>
</tr>
</table>
</center>
</div>
</div>
<div id='footer' class=footer >
    <center>
    <a href="credits">Credits</a>
    </center>
</div>
</body>
{% endblock %}



