{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>Parse file {{filename}}</title>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block body %}
<h1>Parse file {{filename}}</h1>
<div class="main">
    <div id="column_form">
        <form action="{{ url_for('set_columns') }}" method="post">
           <table border=1>
               <tr><th>File Column Name</th><th>Real Column Name</th><th>Units</th></tr>
               
        {% for column_name in table.colnames %}
        <tr>
            <td>{{ column_name }}</td>
            <td>
                <select class="real_column_name" name="{{column_name}}">
                    {% for real_column_name in real_column_names %}
                    <option value="{{real_column_name}}">{{real_column_name}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input class="units" id="units{{loop.index}}">
            </td>
        </tr>
        {% endfor %}
    </table>
        <input type="submit" value="Submit">  
        </form>
    </div>
</div>
<script>
        $(".units").on('input', function(){
            var units = $(this).val();
            var input_id = $(this)[0].id;
            console.log(input_id);
            console.log("units: ", units);
            $.getJSON('/validate_units', {
                unit_str: units
            }, function(data){
                console.log(data);
                if (data.OK) {
                    $("#"+input_id).css("background-color","#66FF66");
                } else {
                    $("#"+input_id).css("background-color","#FFAAAA");
                };
            })
        });
            // $.ajax({
            //         type: "POST",
            //         url: '{{ url_for(".validate_units") }}',
            //         data: {unit_str: JSON.stringify(units)},
            //         contentType: 'application/json;charset=UTF-8',
            //         success: function (data) {
            //             console.log(data);
            //             if (data.OK) {
            //                 $(this).css("background-color","#FFCCFF");
            //             } else {
            //                 $(this).css("background-color","#FFAAAA");
            //             };
            //         }
            //     });
        // });
        // $(".units").on('input',
        //     function() {
                
        //     }

</script>
{% endblock %}
