{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>CAMELOT Parse file {{filename}}</title>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    if($('#username').val() == ''){
        $('#submit_button').attr('disabled','disabled');
    }

    $('#username').change(function(){
        if($(this).val() != ''){
            $('#submit_button').removeAttr('disabled');
        }
        else{
            $('#submit_button').attr('disabled','disabled');
        }
    });

    $(".units").on('input', function(){
        var units = $(this).val();
        var equiv = $(this)[0].attributes['equiv'].value;
        var input_id = $(this)[0].id;
        $.getJSON('/validate_units', {
            unit_str: units,
            equivalent_unit: equiv
        }, function(data){
            console.log(data);
            if (data.OK == 'green') {
                $("#"+input_id).css("background-color","#66FF66");
                $("#"+input_id).addClass("background-color","#66FF66");
            } else if (data.OK == 'yellow') {
                $("#"+input_id).css("background-color","#DDDD66");
                $("#"+input_id).addClass("background-color","#DDDD66");
            } else {
                $("#"+input_id).css("background-color","#FFAAAA");
            };
        })
    });

    var unit_mapping;
    $.getJSON('/unit_map_page', function(json){
            console.log("Successfully queried unit_map_page");
            console.log("json: ",json);
            unit_mapping = json;
            });

    $(".real_column_name").on('change', function(){
            var column_name = $(this)[0].name;
            var variable_name = $(this).val();
            var target_cell = $("#"+column_name+"_units")[0];
            // console.log(target_cell.attributes['equiv'].value)
            // console.log("column_name:", column_name);
            // console.log("variable_name:", variable_name);
            var out_unit = unit_mapping[variable_name];
            // console.log("unit_mapping ", unit_mapping);
            // console.log("unit_mapping[column_name] ", unit_mapping[column_name]);
            // console.log("out_unit:", out_unit);
            target_cell.attributes['equiv'].value = out_unit;
            });

});

</script>
{% endblock %}

{% block body %}
{{ super() }}
<h1 class="title">CAMELOT Parse file {{filename}}</h1>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2" id="column_form">
        <form action="{{ url_for('set_columns', filename=filename, fileformat=fileformat) }}" method="post">
            <table class="table table-striped">
                <thead><tr><th>File Column Name</th><th>Real Column Name</th><th><font color="red">*</font>Units</th></tr></thead>
                <tbody>                
                {% for column_name,best_column_name,default_unit in zip(table.colnames, best_column_names, default_units) %}
                <tr>
                    <div class="form-group">
                    <td class="middle"><p>{{ column_name }}</p></td>
                    <td class="middle">
                        <select class="form-control real_column_name" name="{{column_name}}">
                            {% for real_column_name in real_column_names %}
                            {% if real_column_name == best_column_name %}
                                <option value="{{real_column_name}}" selected>{{real_column_name}}</option>
                            {% else %}
                            <option value="{{real_column_name}}">{{real_column_name}}</option>
                            {% endif %}
                            {% endfor %}

                            <option disabled>── Extras ──</option>
                            {% for cn,display in additional_metadata.items() %}
                            <option value="{{cn}}">{{display}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="middle">
                        <input class="units form-control" id="{{column_name|striptags}}_units" name="{{column_name|striptags}}_units" value="{{default_unit}}"
                         equiv="{{unit_mapping.get(best_column_name)}}">
                    </td>
                    </div>
                </tr>
                {% endfor %}
                </tbody>
                <thead><tr><th colspan=3><font color="red">*</font>Type of dataset</th></tr></thead>
                <tbody>
                <tr><td class="middle">  <input type="radio" name="ObsSim" value="IsObserved"{% if tab_metadata['IsObserved'] %} checked{% endif %}> Observations </td>
                    <td colspan=2 class="middle"> <input type="radio" name="ObsSim" value="IsSimulated"{% if tab_metadata['IsSimulated'] %} checked{% endif %}> Simulations </td></tr>
                <tr><td class="middle">  <input type="radio" name="GalExgal" value="IsGalactic"{% if tab_metadata['IsGalactic'] %} checked{% endif %}> Galactic </td>
                    <td colspan=2 class="middle"> <input type="radio" name="GalExgal" value="IsExtragalactic"{% if tab_metadata['IsExtragalactic'] %} checked{% endif %}> Extragalactic </td></tr>
                <tr><td colspan=3 class="middle"> <font color="#BDBDBD">(for simulations, choose Galactic unless an entire galaxy is covered)</font> </td></tr>
                <tr><td colspan=3 class="middle"> <input type="text" id="username" name="Username" value="{{tab_metadata['Author']}}" required> <font color="red">*</font>FirstnameLastname of first author </td></tr>
                <tr><td colspan=3 class="middle"> <input type="text" id="adsid" name="adsid" value="{{tab_metadata['ADS_ID']}}"> <font color="red">*</font>ADS ID <font color="#BDBDBD">(not the full link)</font> or
                                                  <input type="text" id="doi" name="doi" value="{{tab_metadata['DOI or URL']}}" required> <a href="http://www.doi.org/">DOI</a> or URL</td></tr>
                <tr><td colspan=3 class="middle"> <font color="#BDBDBD">(if this is over 64 characters, please <a href="http://tinyurl.com">shorten</a> it
                            with a <a href="http://goo.gl/">url-shortener service</a>)</font></td></tr>
                <tr><td colspan=3 class="middle"> <input type="text" id="email" name="Email" value="{{tab_metadata['Submitter']}}" required>
                        <font color="red">*</font>Your email address <font color="#BDBDBD">(this will be kept private)</font> </td></tr>
                <tr><td colspan=3 class="middle"> <font color="red">*</font>required </td></tr>
                </tbody>
            </table>
            <div class="col-md-2 col-md-offset-10" id="column_submit">
                <input class="btn btn-success" id="submit_button" type="submit" value="Submit"> 
            </div>
        </form>
    </div>
</div>
<div id='footer'></div>
{% endblock %}
