{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>Parse file {{filename}}</title>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    $(".units").on('input', function(){
        var units = $(this).val();
        var input_id = $(this)[0].id;
        $.getJSON('/validate_units', {
            unit_str: units
        }, function(data){
            console.log(data);
            if (data.OK) {
                $("#"+input_id).css("background-color","#66FF66");
                $("#"+input_id).addClass("background-color","#66FF66");
            } else {
                $("#"+input_id).css("background-color","#FFAAAA");
            };
        })
    });
});

</script>
{% endblock %}

{% block body %}
<h1>Parse file {{filename}}</h1>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2" id="column_form">
        <form action="{{ url_for('set_columns', filename=filename, fileformat=fileformat) }}" method="post">
            <table class="table table-striped">
                <thead><tr><th>File Column Name</th><th>Real Column Name</th><th>Units</th></tr></thead>
                <tbody>
                <tr><td>  <input type="checkbox" name="issimulated" value="IsSimulated">Is simulated? </td></tr>
                <tr><td>  <input type="" name="Username" value="Username"></td> <td>Username? </td></tr>

                
                {% for column_name,best_column_name in zip(table.colnames, best_column_names) %}
                <tr>
                    <div class="form-group">
                    <td><p>{{ column_name }}</p></td>
                    <td>
                        <select class="form-control real_column_name" name="{{column_name}}">
                            {% for real_column_name in real_column_names %}
                            {% if real_column_name == best_column_name %}
                            <option value="{{real_column_name}}" selected>{{real_column_name}}</option>
                            {% else %}
                            <option value="{{real_column_name}}">{{real_column_name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input class="units form-control" id="{{column_name|striptags}}_units" name="{{column_name|striptags}}_units">
                    </td>
                    </div>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-md-2 col-md-offset-10" id="column_submit">
                <input class="btn btn-success" id="submit_button" type="submit" value="Submit"> 
            </div>
        </form>
    </div>
</div>
{% endblock %}
