{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>CAMELOT Plot</title>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}
<h1 class="title">CAMELOT Query output</h1>
<div class="row">
{% if errormessage %}
<div class="errormessage">
    {{ errormessage }}
</div>
{% endif %}

<html>
  <body>
     <div id="includedContent"></div>
     {% if link_pull_database %}
    <div id="link_pull_database">Database pull request: <a href="{{link_pull_database}}">{{link_pull_database}}</a></div>
     {% endif %}
     {% if link_pull_uploads %}
    <div id="link_pull_uploads">Submitted file pull request: <a href="{{link_pull_uploads}}">{{link_pull_uploads}}</a></div>
     {% endif %}
     {% if png_imagename is not none %}
     <div class="row" align="left">
        <div class="col-md-10">
            <div>
            <b>Plot Features:</b>
            </div>
            <ul style="list-style-type:none">
              <li> <b>Zoom</b> - Press the magnifying glass on the bottom left of the plot. </li>
              <li> <b>Pan</b> - Press the crossed arrows button on the bottom left of the plot. In pan mode, you can zoom by using the mouse wheel. </li>
              <li> <b>Hover</b> - Mousing over a point in the plot shows its physical properties as well as the metadata for the dataset it belongs to. </li>
              <li> <b>Hide/Show points</b> - Datasets can be hidden by pressing the button left of the author's name in the legend. Mousing over these buttons highlights the points in the plot. </li>
              <li> <b>Return to original view</b> - Press the home button on the bottom left. </li>
            </ul>
        </div>
     </div>
     <div class="row" align="right">
        <div class="col-md-6">
            <form class="form form-inline" action={{tablefile}} method="get">
                <div class="form-group">
                    <div class="input-group">
                    <button class="btn btn-success" type="submit">Download query results</button> in IPAC format.
                    </div>
                </div>
            </form>
        </div>
     </div>
     <div class="row" align="right">
        <div class="col-md-6">
            <form class="form form-inline" action={{png_imagename}} method="get">
                <div class="form-group">
                    <div class="input-group">
                    <button class="btn btn-success" type="submit">Download plot</button> as a PNG.
                    </div>
                </div>
            </form>
        </div>
     </div>
     <div id="includedTable"></div>

     <div> If you think data are missing, try <a href="/update_database">updating the database</a> </div>
     {% else %}
         <div> No data were found to plot</div>
     {% endif %}
    <div id='footer'></div>
  </body>
</html>

<!-- imagename = {{imagename}} -->

{% if imagename is not none and imagename[:-3] == 'png' %}
    <img src="{{imagename}}" width=800>
{% else %}

</div>
  <head>
    <!-- imagename = {{imagename}} -->
    <script>
    $(function(){
            $("#includedContent").load("{{imagename}}");
    });
    </script>
  </head>


{% endif %}

<script>
$(function(){
        $("#includedTable").load("/static/jstables/{{tablefile}}?" + (new Date).getTime());
});
</script>

{% endblock %}
