{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>PLOT </title>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body %}

This is a page with a figure
<html>
  <head>
    <!-- imagename = {{imagename}} -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script>
    $(function(){
      $("#includedContent").load(imagename);
    });
    </script>
  </head>

  <body>
     <div id="includedContent"></div>
  </body>
</html>

<script>
$(function(){
        $("#includedContent").load("/static/jstables/{{tablefile}}?" + (new Date).getTime()); 
});
</script>

{% endblock %}
