{% extends 'base.html' %}

{% block head %}
{{ super() }}    
<title>CAMELOT Plot</title>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}
<div class="row">
This is a page with a figure
<br>

<html>
  <body>
     <div id="includedContent"></div>
     <div id="includedTable"></div>
  </body>
</html>

imagename = {{imagename}}

{% if imagename[:-3] == 'png' %}
    <img src="{{imagename}}" width=800>
{% else %}

</div>
  <head>
    <!-- imagename = {{imagename}} -->
    <script>
    $(function(){
            $("#includedContent").load("{{imagename}}");
    });
    </script>
  </head>


{% endif %}

<script>
$(function(){
        $("#includedTable").load("/static/jstables/{{tablefile}}?" + (new Date).getTime()); 
});
</script>

{% endblock %}
