{% extends 'base.html' %}

{% block head %}
{{ super() }}    
<title>Upload new File</title>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    if($('#file_field').val() == ''){
        $('#upload_button').attr('disabled','disabled');
    }

    $('#file_field').change(function(){
        var value = $(this).val();
        console.log(value);
        if(value != ''){
            $('#upload_button').removeAttr('disabled');
        }
        else{
            $('#upload_button').attr('disabled','disabled');            
        }
    })
}); 
</script>
{% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error!</strong> {{ error}}
    </div>
{% endif %}

<div class="row">
    <div class="col-md-6 col-md-offset-4" id="upload_form">
        <div id="upload_header">Upload a new data table file</div>
        <div> Future steps will have you specify the column units etc. </div>
        <form class="form form-inline" action="upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="file">Choose File</label>
                    <input class="form-control" id="file_field" type="file" name="file">
                    <input class="btn btn-success" id="upload_button" type="submit" value="Upload">
                </div>    
            </div>
        </form>
    </div>
</div>
{% endblock %}
