{% extends 'base.html' %}

{% block head %}
{{ super() }}    
<title>CAMELOT Upload new File</title>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    if($('#file_field').val() == ''){
        $('#upload_button').attr('disabled','disabled');
    }

    $('#file_field').change(function(){
        var value = $(this).val();
        console.log(value);
        if(value != ''){
            $('#upload_button').removeAttr('disabled');
        }
        else{
            $('#upload_button').attr('disabled','disabled');            
        }
    })
}); 
</script>
{% endblock %}

{% block body %}
{{ super() }}
{% if error %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error!</strong> {{ error}}
    </div>
{% endif %}

<h1 class="title">CAMELOT Upload form</h1>
<div class="row">
    <div class="col-md-22 col-md-offset-1" id="upload_form">
        <div id="upload_header">Upload a new data table file</div>
        <br>
        <div> The file reader uses the astropy.table module and a variety of file formats are accepted
              (simple ascii, csv, IPAC tables format, etc...). Four columns are required providing
              IDs, SurfaceDensity, VelocityDispersion, and Radius. Units for the physical quantities
              and metadata to identify the provider of the data are required and can be fully or
              partially read from the table (if the chosen format supports them) or will be entered
              manually in the next form. </div>
        <div> An example of compatible IPAC table format with units and
              metadata is shown below.</div>
        <br>
        <form class="form form-inline" action="upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="file">Choose File</label>
                    <input class="form-control" id="file_field" type="file" name="file">
                    <input class="btn btn-success" id="upload_button" type="submit" value="Upload">
                </div>    
            </div>
        </form>
        <br>
        <div>Example file in IPAC table format, with units and metadata (these are not mandatory in the file)</div>
        <br>
        <samp>\DOI = "10.1051/0004-6361/201014177"<br>
              \ADS = "2010A&A...520A..50S"<br>
              \author = GinaSantangelo<br>
              \email = king.arthur@camelot-project.org<br>
              \IsObserved = True<br>
              \IsGalactic = True<br>
              |  ID | Radius | SurfaceDensity | VelocityDispersion |<br>
              |char | float  | float          | float              |<br>
              |     |  pc    |  g/cm^2        |  km/s              |<br>
                co1   3.0      0.10            7.3                 <br>
                co2   4.1      0.08            5.5                 <br>
                ...                 </samp>
    </div>
</div>
<div id='footer'></div>
{% endblock %}
