{% extends 'base.html' %}

{% block head %}
{{ super() }}    
<title>Upload new File</title>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="main">
    <div id="upload_form">
        <div id="upload_header">Upload new File</div>
        <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="file_format" name="file_format" id="file_format">
            <input id="upload_button" type="submit" value="Upload">
        </form>
    </div>
</div>
{% endblock %}