{% extends 'base.html' %}

{% block head %}
{{ super() }}    
<title>Upload new File</title>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3" id="upload_form">
        <div id="upload_header">Upload File with specific extension</div>
        <form class="form-inline" action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="file">Choose File and specify file type</label>
                    <!-- TODO: add a callback that finds the best-match format when a filename is set -->
                    <input class="form-control" type="file" name="file" value={{filename}}>
                    <input class="#file_format" name="fileformat" value={{best_match_extension}}>
                    <input class="btn btn-success" id="upload_button" type="submit" value="Upload">
                </div>    
            </div>
        </form>
        <div>
            The exception in reading the previous file was:
            <pre>
            {{exception}}
            </pre>
        </div>
    </div>
</div>
{% endblock %}
